.awesome-block {
    margin-top: 104px;
    font-family: 'Raleway';
}

.awesome-block__title-wrapper{
    padding-bottom: 54px;
    position: relative;
}

.awesome-block__title-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 42.73%;
    width: 170px;
    height: 1px;
    background-color: #EC7979;
}

.awesome-block__list {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
}

.awesome-list__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 370px;
    word-break: break-word;
}

.awesome-list__item-title {
    text-align: center;
}

.awesome-list__title-wrapper {
    padding-top: 164.5px;
    position: relative;
    width: 100%;
}

.awesome-list__title-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 37.56%;
    width: 92px;
    height: 92px;
    background-image: url(../img/icons/Idea__icon.svg);
}

.keyboard-icon::before {
    background-image: url(../img/icons/Keyboard__icon.svg);
}

.lightning-icon::before {
    background-image: url(../img/icons/Lightning__icon.svg);
}

.awesome-list__item-desc {
    margin-top: 41.5px;
    text-align: center;
}
