.social-block {
    padding: 13.5px 0 18px;
    background: #F8EFEF;
}

.social-block__wrapper {
    display: flex;
    gap : 30px;
}

.social-block__title {
    color: #333333;
    word-break: break-word;
}

.social-block__paragraph {
    margin-top: 31.5px;
    color: #86878B;
    word-break: break-word;
}

.social-block__links {
    display: flex;
    gap: 30px;
    align-items: center;
}

.social-block__link {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}